.db-content-container {
    display: flex;
    justify-content: center;
}

.db-content-container .container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.db-content-container .container .header {
    display: flex;
    flex-direction: column;
    background-color: #525252;
    border-radius: 5px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.db-content-container .container .header .title {
    font-size: var(--header-font-size);
    font-weight: var(--header-weight);
    color: #fff;
}

.db-content-container .container .header .subtitle {
    font-size: var(--subheader-font-size);
    font-weight: var(--subheader-weight);
    margin-top: 10px;
}

.db-content-container .container .content {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.db-content-container .container .content .left {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 5px;
    padding-right: 3px;
}

.db-content-container .container .content .left app-menu-tree {
    max-height: 600px;
    overflow-y: auto;
    scrollbar-color: #d3d3d3 var(--secondary-color);
}

.db-content-container .container .content .right {
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 26px;
    padding-bottom: 26px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.db-content-container .container .content .right .right-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 5px;
}