<div class="home-container">
    <div class="container">
        <div class="header">
            <div class="left">
                <span class="title">Night Crows Database</span>
                <span class="subtitle">Find all the information you need about items, quests, classes, skills, codex and much more.</span>
                <button mat-stroked-button class="browse" (click)="goToDatabase()">Browse database</button>
            </div>
            <div class="right">

            </div>
        </div>
        <div class="content">

        </div>
    </div>
</div>