<div class="footer-container">
    <div class="container">
        <div class="left">
            <div class="logo">
                <span class="title">NCDB</span>
                <img src="assets/img/img_ncdb_logo.png" class="logo">
            </div>
            <div class="about">
                <span class="info">NCDB aims to bring you the most comprehensive database for Night Crows.</span>
                <span class="copyright">Copyright © 2024 ncdb.info</span>
                <span class="terms">Terms and Conditions</span>
                <span class="policy">Privacy Policy</span>
                <mat-divider class="note-divider"></mat-divider>
                <span class="note">Unofficial Night Crows database and not related to Wemade Co.</span>
            </div>

        </div>
        <div class="right">
            <div class="item classes">
                <span class="title">Classes</span>
                <span class="default">All Classes</span>
                <span class="default">Warrior</span>
                <span class="default">Swordman</span>
                <span class="default">Hunter</span>
                <span class="default">Witch</span>
            </div>
            <div class="item items">
                <span class="title">Items</span>
                <span class="default">All Items</span>
                <span class="default">Weapons</span>
                <span class="default">Armors</span>
                <span class="default">Accessories</span>
                <span class="default">Consumables</span>
            </div>
            <div class="item quests">
                <span class="title">Quests</span>
                <span class="default">All Quests</span>
                <span class="default">Main Quests</span>
                <span class="default">Side Quests</span>
                <span class="default">Daily Quests</span>
            </div>
            <div class="item quests">
                <span class="title">Other</span>
                <span class="default">Skills</span>
                <span class="default">Codex</span>
                <span class="default">Craft</span>
                <span class="default">Achievements</span>
            </div>
        </div>
    </div>
</div>